In [2]:
import pandas as pd

borrower = pd.read_csv("borrower.txt", sep="\t")
loan = pd.read_csv("loan.txt", sep="\t")

In [3]:
borrower.to_csv("borrower.csv", index=False)
loan.to_csv("loan.csv", index=False)

In [ ]:
# run this first to see what the real columns are
print("Loan columns:", loan.columns.tolist())
print("Borrower columns:", borrower.columns.tolist())

# peek at the first few rows
display(loan.head())
display(borrower.head())

Loan columns: ['loanId', 'memberId', 'date', 'purpose', 'isJointApplication', 'loanAmount', 'term', 'interestRate', 'monthlyPayment', 'grade', 'loanStatus']
Borrower columns: ['memberId', 'residentialState', 'yearsEmployment', 'homeOwnership', 'annualIncome', 'incomeVerified', 'dtiRatio', 'lengthCreditHistory', 'numTotalCreditLines', 'numOpenCreditLines', 'numOpenCreditLines1Year', 'revolvingBalance', 'revolvingUtilizationRate', 'numDerogatoryRec', 'numDelinquency2Years', 'numChargeoff1year', 'numInquiries6Mon']

,loanId,memberId,date,purpose,isJointApplication,loanAmount,term,interestRate,monthlyPayment,grade,loanStatus
0,1888978,2305095,12/10/2014,debtconsolidation,0.0,25190.0,60 months,6.25,490,E3,Current
1,1299695,2610493,9/15/2014,debtconsolidation,0.0,21189.0,60 months,10.49,455,B3,Current
2,1875016,2491679,9/11/2014,debtconsolidation,0.0,29908.0,60 months,9.11,622,B2,Current
3,1440478,2092798,4/22/2016,homeimprovement,0.0,13053.0,48 months,11.89,343,B3,Current
4,1124634,2633077,2/3/2016,debtconsolidation,0.0,24613.0,60 months,15.13,587,A3,Current

,memberId,residentialState,yearsEmployment,homeOwnership,annualIncome,incomeVerified,dtiRatio,lengthCreditHistory,numTotalCreditLines,numOpenCreditLines,numOpenCreditLines1Year,revolvingBalance,revolvingUtilizationRate,numDerogatoryRec,numDelinquency2Years,numChargeoff1year,numInquiries6Mon
0,2305095,NM,10+ years,rent,56471,1,16.80,6,11,9.0,6,14301,49.02,0,19,10,0
1,2610493,WA,2-5 years,rent,55038,0,19.99,22,8,7.0,4,18262,72.40,1,0,0,0
2,2491679,MS,< 1 year,rent,56610,1,14.33,5,8,5.0,5,10799,66.27,0,1,1,0
3,2092798,TX,6-9 years,own,54887,1,14.80,12,14,7.0,3,15272,61.05,1,0,0,3
4,2633077,MA,2-5 years,rent,53522,1,10.14,4,21,19.0,10,19316,56.39,2,14,7,1

In [6]:
loan_master = loan.merge(borrower, on="memberId", how="inner")
loan_master.to_csv("loan_master.csv", index=False)

In [3]:
import pandas as pd

In [4]:
import os
print(os.listdir())

['a.ipynb', 'borrower.csv', 'Borrower.txt', 'intern_env', 'loan.csv', 'Loan.txt', 'loan_master.csv']

In [5]:
loan_master = pd.read_csv("loan_master.csv")

In [6]:
# 1) Inspect loanStatus values and a quick sanity check
print("Rows:", loan_master.shape[0])
print("\nSample loanStatus values (first 50 unique):")
unique_status = loan_master['loanStatus'].astype(str).str.strip().str.lower().unique()
print(sorted(unique_status)[:50])
print("\nValue counts (top 20):")
print(loan_master['loanStatus'].astype(str).str.strip().str.lower().value_counts().head(20))

Rows: 100000

Sample loanStatus values (first 50 unique):
['current', 'default']

Value counts (top 20):
loanStatus
current    89996
default    10004
Name: count, dtype: int64

In [7]:
loan_master.size()

TypeError: 'int' object is not callable